{% extends 'base_detail_list.html' %}
{% block title %}天天生鲜-商品列表{% endblock %}

{% block main_content %}
<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="{% url 'goods:goods_list' category_id.id 1 %}">{{ category_id.name }}</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for goods in new_goods %}
                        <li>
                            <a href="{% url 'goods:detail' goods.SKU_id %}"><img src="{{ goods.image.url }}"></a>
                            <h4><a href="{% url 'goods:detail' goods.SKU_id %}">{{ goods.name }}</a></h4>
                            <div class="prize">￥{{ goods.price }}</div>
					    </li>
                    {% endfor %}
                    

				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="{% url 'goods:goods_list' category_id.id 1%}" {% if sort == 'default' %}class="active"{% endif %}>默认</a>
				<a href="{% url 'goods:goods_list' category_id.id 1%}?sort=price" {% if sort == 'price' %}class="active"{% endif %}>价格</a>
				<a href="{% url 'goods:goods_list' category_id.id 1%}?sort=count" {% if sort == 'count' %}class="active"{% endif %}>人气</a>
			</div>

			<ul class="goods_type_list clearfix">
                {% for goods in goods_page.object_list %}
                    <li>
                        <a href="{% url 'goods:detail' goods.SKU_id %}"><img src="{{ goods.image.url }}"></a>
                        <h4><a href="{% url 'goods:detail' goods.SKU_id %}">{{ goods.name }}</a></h4>
                        <div class="operate">
                            <span class="prize">￥{{ goods.price }}</span>
                            <span class="unit">{{ goods.price }}/{{ goods.unit }}</span>
                            <a href="#" class="add_goods" title="加入购物车"></a>
                        </div>
                    </li>
                {% endfor %}


            </ul>

			<div class="pagenation">
                {% if goods_page.has_previous %}
                    <a href="{% url 'goods:goods_list' category_id.id goods_page.previous_page_number %}?sort={{ sort }}"><上一页</a>
                {% endif %}
            {% for page in pages %}
                {% if page == goods_page.number %}
                    <a href="{% url 'goods:goods_list' category_id.id page %}?sort={{ sort }}" class="active">{{ page }}</a>
                {% else %}
                    <a href="{% url 'goods:goods_list' category_id.id page %}?sort={{ sort }}">{{ page }}</a>
                {% endif %}
            {% endfor %}
                {% if goods_page.has_next %}
                    <a href="{% url 'goods:goods_list' category_id.id goods_page.next_page_number %}?sort={{ sort }}">下一页></a>
                {% endif %}

			</div>
		</div>
	</div>
{% endblock %}